@model LMS_BL.Entities.Employee


<div class="topmenu-banner">
    <h1>LMS
    </h1>
    <span>Leave Management Syatem
    </span>
</div>
<div class="topmenu-name">
    <span>Welcome,</span>
    <h3 class="fg-cobalt">@(Model.FirstName + " " + Model.LastName)</h3>
</div>
